/* #foranimation{
    animation: grow 4s linear forwards;
    opacity: 1;
    width: 100%;
    transform: scale(1.15);
    transition: opacity .6s ease;
    
}

@keyframes grow{
    0%, 20%{
        transform: scale(1);
    }
    75%, 100%{
        transform: scale(1.15);
    }
    /* from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.5, 1.5);
    } 
}

#img{
    animation: zoom-in 5s linear infinite;
}
@keyframes zoom-in{
    100%{
        width: 120%;
    }
} */