@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior:smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




#foranimation1{
  animation: grow 5s linear forwards;
  opacity: 1;
  width: 100%;
  transform: scale(1.15);
  transition: opacity .6s ease;
  position: relative;
  
}

#text-content1{
  position: absolute; 
  left: 100px;
}

#foranimation2{
  animation: grow 5s linear forwards;
  opacity: 1;
  width: 100%;
  transform: scale(1.15);
  transition: opacity .6s ease;
  
}
#text-content2{
  position: absolute; 
  left: 100px;
}

#foranimation3{
  animation: grow 5s linear forwards;
  opacity: 1;
  width: 100%;
  transform: scale(1.15);
  transition: opacity .6s ease;
  
}
#text-content3{
  position: absolute; 
  left: 100px;
  top: -230px ;
}

#foranimation4{
  animation: grow 6s linear forwards;
  opacity: 1;
  width: 100%;
  transform: scale(1.15);
  transition: opacity .6s ease;
  
}
#text-content4{
  position: absolute; 
  left: 100px;
}

@keyframes grow{
  0%, 20%{
      transform: scale(1);
  }
  75%, 100%{
      transform: scale(1.15);
  }
}

#rotateNavIcon{
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}
#rotateStar1{
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}
#rotateStar2{
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

#rotateStar3{
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}
      /* nave icon rotate */
.rotateStar4{
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

/* use keyframes for rotate star */
@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

.hover-effect{
  position: relative;
  border-radius: 9999px;
  z-index: 1;
}
    /* button hover effect */
.hover-effect::before{
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 9999px;
  transition: width .3s ease-in-out;
  background-color: #0D003B;
  z-index: -1;
}

.hover-effect:hover{
  color: #fff;
}

.hover-effect:hover::before{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

      /* card hover effect */

.cardImage img {
  transition: transform 1.1s;
}
.my-card:hover .cardImage img {
  transform: scale(1.2);  
}
.my-card:hover .text-content {
  background-color: rgb(5, 12, 62);
  color: #fff;
}
        /* hover effect on gallery */
.main-container{
  position: relative;
}
.image{
  display: block;
  width: 100%;
  height: auto;
}
.overlay{
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  border-radius: 12px;
  width: 0;
  height: 100%;
  transition: .5s ease;
  z-index: 10;
}

.main-container:hover .overlay{
  width: 100%;
  height: 100%;
}
            /* blog card gradient border */
.gradientBorder{
  background: linear-gradient(#1a1936, #1a1936) padding-box, linear-gradient(45deg, #8884ff 0%, #8884ff 100%) border-box;
}
.dancing-up{
  transition: .5s ease-in-out;
}
.dancing-up:hover{
  transform: translateY(-10px);
}

.dancing-up:hover {
  color: orangered;
}

        /* blog image hover effect */
.roundHover{
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    transition: all .3s ease-in-out;
}

.imageHover:hover .roundHover{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.roundHover2{
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    transition: all .3s ease-in-out;
}
.imageHover:hover .roundHover2{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  font-size: 2em;
  color: #e7a375;
  filter: drop-shadow(0 0 20px #b35a22)
          drop-shadow(0 0 40px #b35a22)
          drop-shadow(0 0 60px #b35a22)
          drop-shadow(0 0 80px #b35a22)
          drop-shadow(0 0 100px #b35a22)
          drop-shadow(0 0 120px #b35a22);
  animation: animate 5s linear infinite;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-shadow: 0 0 50px #f96604, 0 0 100px #f36506;
}
